h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

html,
body,
#root,
#App {
	height: 100vh;
}

.lobby {
	display: flex;
	height: calc(100vh - 56px);
}

.lobby {
	justify-content: center;
	align-items: center;
}

.gamers{
	display: flex;
}

.cols4gameboard{
	height: 40px !important;
	border: 1px solid #fff;
}

.game-board-holder{
	margin: 5px;
}